/* ================= BASE ================= */

* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
  background: orange;
}

#logo {
  text-align: center;
  margin: 0;
}

header {
  background: #051923;
  border-color: #003554;
}

h1,
h2 {
  color: #fff;
}

nav {
  background: #003554;
}

nav a, nav a:visited {
  color: #fff;
}

nav a.selected, nav a:hover {
  color: #00A6FB;
}

body {
  background-color: #fff;
  color: #999;
  line-height: 1.6;
  margin: 0;
  font-family: 'Overpass', sans-serif;
  color: #3a3a3a;
}

a {
  text-decoration: none;
}

img {
  max-width: 50%;
}

/* =================================
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */
